<div class="form-wrapper row">
  <%= form_for(resource, class: "col s12", as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <h1>設定</h1>
    <div class="row">
      <div class="col s12">
        <div class="teal-text text-darken-2">
          <%= devise_error_messages! %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, placeholder: 'ニックネームを入力(必須)' %>
    </div>

    <div class="file-field input-field">
      <span><%= image_tag(current_user.avatar.url, :class => "float-left user-img circle responsive-img", :style => "width: 40px") %></span>
      <div class="btn">
        <span>プロフィール画像を変更</span><br />
        <%= f.file_field :avatar %><br />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :bio %><br />
      <%= f.text_field :bio, placeholder: '例：カフェスタイルのおうちが好きです！' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(変更しない場合は空欄のままで)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><i>(変更しない場合は空欄のままで)</i><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <%= link_to user_twitter_omniauth_authorize_path, :class => "waves-effect waves-light btn-large light-blue lighten-1" , :method => :get do %>twitterでログイン
    <% end %>

    <div class="button-wrapper center-align">
      <button class="btn-large waves-effect waves-light actions">
        <i class="material-icons right">send</i>
        <%= f.submit "更新する" %>
      </button>
    </div>
  <% end %>
</div>

<div class="links_wrapper"><div class="right"><%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>
  <%= link_to "戻る", :back %></div>
