<div class="form-wrapper row">
  <%= form_for(resource, class: "col s12", as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="row">
      <div class="col s12">
        <div class="teal-text text-darken-2">
          <%= devise_error_messages! %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, placeholder: 'ニックネームを入力(必須)' %>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>プロフィール画像を選択</span><br />
        <%= f.file_field :avatar %><br />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :placeholder => "example@roomee.com", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(半角英数<%= @minimum_password_length %>文字以内)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :bio %><br />
      <%= f.text_field :bio, placeholder: '例：カフェスタイルのおうちが好きです！' %>
    </div>

    <div class="button-wrapper center-align">
      <button class="btn-large waves-effect waves-light actions">
        <i class="material-icons right">send</i>
        <%= f.submit "登録する" %>
      </button>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>