<div class="card-wrapper">
  <div class="card">
    <div class="card-image">
      <%= image_tag(@article.image.url, :class => "card-img") %>
      <span class="card-title">
        <%= image_tag("like.png", :class => "float-left") %>
        <p class="float-left"><%= @article.likes.count %></p>
      </span>
    </div>
    <div class="card-content">
      <span class="card-title activator">
        <div class="row">
          <%= link_to "/users/#{@article.user_id}", :method => :get, :class => "a-avatar" do %>
            <div class="col s3"><%= image_tag(@article.user.photo.url, :class => "user-img circle responsive-img") %></div>
            <div class="col s8">
              <span class="username">
                <%= @article.user.nickname %>
              </span>
            </div>
          <% end %>
          <% if user_signed_in? && current_user.id == @article.user_id %>
            <div class="col s1">
              <i class="material-icons right small">more_vert</i>
            </div>
          <% end %>
        </div>
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">メニュー<i class="material-icons right">close</i></span>
      <div class="collection">
        <%= link_to "この投稿を編集する", "/articles/#{@article.id}/edit", :class => "collection-item" %>
        <%= link_to "この投稿を削除する", "/articles/#{@article.id}", method: :delete, :class => "collection-item" %>
      </div>
    </div>
  </div>
</div>

<div class="text-area z-depth-1">
  <div class="text-inner">
    <div class="chip">
      <i class="material-icons float-left">label</i>
      <p class="float-right"><%= @article.category %></p>
    </div>
    <div class="clearfix"></div>
    <div class="comment">
      <p>
        <%= @article.comment %>
    </div>
    <div class="triangle"></div>
  </div>
</div>

<div class="comment-area">
  <h4>コメント <%= @article.talks.count %>件</h4>
  <ul class="collection">
    <% if @talks %>
      <% @talks.each do | talk | %>
        <li class="collection-item avatar">
          <%= link_to "/users/#{talk.user_id}", :method => :get, :class => "a-avatar" do %>
            <%= image_tag(talk.user.photo.url, :class => "user-img circle responsive-img") %>
          <% end %>
          <span class="title username">
            <%= link_to talk.user.nickname, "/users/#{talk.user_id}" %>
          </span>
          <p class="comment"><%= talk.text %></p>
          <% if current_user %>
            <%= link_to "削除" , "/articles/#{talk.article_id}/talks/#{talk.id}", :method => :delete, :class => "right", :style => "font-size: 12px" %>
            <div class="clearfix"></div>
          <% end %>
        </li>
      <% end %>
    <% end %>

    <% if current_user %>
      <li class="collection-item avatar">
        <%= image_tag(current_user.photo.url, :class => "user-img circle responsive-img") %>
        <span class="title username"><%= current_user.nickname %></span>
        <div class="row">
          <%= form_tag("/articles/#{@article.id}/talks", method: :post, class: "col s12") do %>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="icon_prefix2" class="materialize-textarea" name="text"></textarea>
                <label for="icon_prefix2"><i class="small material-icons">mode_edit</i></label>
              </div>
            </div>
            <button class="btn waves-effect waves-light float-right" type="submit" value="SENT">送信する
              <i class="material-icons right">send</i>
            </button>
            <div class="clearfix"></div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>