<div class="contents row">
  <div class="col s12">
    <div class="card self">
      <div class="card-image">
        <%= image_tag(current_user.avatar.url, :class => "user-img circle responsive-img") %>
        <span class="card-title username"><%= current_user.nickname %></span>
      </div>
      <div class="card-content row">
        <div class="num-info col s6">23 posts</div>
        <div class="num-info col s6">40 likes</div>
        <div class="bio"><%= current_user.bio %></div>
      </div>
      <div class="card-action row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a href="#tab1"><div class="tag-wrapper row">
                  <div class="col s5 valign-wrapper"><%= image_tag(current_user.avatar.url, :class => "user-img circle responsive-img valign") %></div>
                  <div class="col s7 teal-text text-darken-2"><%= current_user.nickname %><br>のPhoto</div>
                </div></a>
            </li>
            <li class="tab col s3">
              <a href="#tab2"><div class="tag-wrapper row">
                  <div class="col s5"><%= image_tag("like.png", :class => "responsive-img") %></div>
                  <div class="col s7 teal-text text-darken-2"><%= current_user.nickname %><br>のLike</div>
                </div></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="tab1">
      <ul class="cards panels">

        <% current_user.articles.each_with_index do |article, i| %>
            <li class="card panel">
              <div class="card-image waves-effect waves-block waves-light">
                <%= image_tag(article.image.thumb.url, :class => "card-img") %>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                  <div class="row">
                    <div class="col s3"><%= image_tag(article.user.avatar.url, :class => "user-img circle responsive-img") %></div>
                    <div class="col s6">
                      <span class="username avatar"><%= article.user.nickname %></span>
                    </div>
                    <div class="info col s3">
                      <%= link_to "/articles/#{article.id}", :method => :get, :class => "a-info" do %>
                      <%= image_tag('info.png') %>
                      <% end %>
                    </div>
                  </div>
                </span>
              </div>
              <div class="like"></div>
              <div class="dislike"></div>
            </li>
        <% end %>

      </ul>
    </div>
    <div id="tab2">
      <% current_user.likes.each do |article| %>
        <li class="card panel">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag(article.image.thumb.url, :class => "card-img") %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <div class="row">
                <div class="col s3"><%= image_tag(article.user.avatar.url, :class => "user-img circle responsive-img") %></div>
                <div class="col s6">
                  <span class="username avatar"><%= article.user.nickname %></span>
                </div>
                <div class="info col s3">
                  <%= link_to "/articles/#{article.id}", :method => :get, :class => "a-info" do %>
                  <%= image_tag('info.png') %>
                  <% end %>
                </div>
              </div>
            </span>
          </div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
      <% end %>
    </div>
  </div>
</div>