
<nav class="teal darken-2">
  <div class="nav-wrapper">
    <% if user_signed_in? %>
      <%= link_to "ROOMEE", "/", :class => "brand-logo" %>
    <% else %>
      <%= link_to "ROOMEE", "/top/index", :class => "brand-logo" %>
    <% end %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <% if user_signed_in? %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to "/articles/", :method => :get do %>
            <i class="material-icons float-left">swap_horiz</i>ROOMEEする
          <% end %>
        </li>
        <li>
          <a href="/users/<%= current_user.id %>">
          <i class="material-icons float-left">perm_identity</i>マイページ</a>
        </li>
        <li>
          <%= link_to "/articles/new", :method => :get do %>
            <i class="material-icons float-left">add_a_photo</i>投稿する
          <% end %>
        </li>
        <li>
          <%= link_to "/users/edit", :method => :get do %>
            <i class="material-icons float-left">settings_applications</i>設定
          <% end %>
        </li>
        <li>
          <%= link_to "/users/sign_out", :method => :delete do %>
            ログアウト
          <% end %>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <%= link_to "/articles/", :method => :get do %>
            <i class="material-icons float-left">swap_horiz</i>ROOMEE
          <% end %>
        </li>
        <li><a href="/users/<%= current_user.id %>"><i class="material-icons float-left">perm_identity</i>マイページ</a></li>
        <li>
          <%= link_to "/articles/new", :method => :get do %>
            <i class="material-icons float-left">add_a_photo</i>投稿する
          <% end %>
        </li>
        <li>
          <%= link_to "/users/edit", :method => :get do %>
            <i class="material-icons float-left">settings_applications</i>設定
          <% end %>
        </li>
        <li>
          <%= link_to "/users/sign_out", :method => :delete do %>
            ログアウト
          <% end %>
        </li>
        <div class="clearfix"></div>
      </ul>
    <% else %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to "/users/sign_up", :method => :get do %>
            <i class="material-icons float-left">mode_edit</i>登録
          <% end %>
          </li>
          <li>
            <%= link_to "/users/sign_in", :method => :get do %>
              <i class="material-icons float-left">perm_identity</i>ログイン
            <% end %>
          </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li>
          <%= link_to "/users/sign_up", :method => :get do %>
            <i class="material-icons float-left">mode_edit</i>登録
          <% end %>
          </li>
          <li>
            <%= link_to "/users/sign_in", :method => :get do %>
              <i class="material-icons float-left">perm_identity</i>ログイン
            <% end %>
          </li>
      </ul>
    <% end %>
  </div>
</nav>